@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
* {
    text-decoration: none;
    list-style-type: none;
    list-style-position:outside;
  }
body{
    text-align: center;
    color: orangered;
    background-color: black;
    text-shadow: orange 1px 0 10px;
}
nav li{
    display: inline;
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}
nav li a{
    color: wheat;
}
nav ul{
    text-align: center;
    padding: 0;
}
h1{
    color: wheat;
    font-family: 'Rubik Iso', cursive;
}
.aone{
    background-color: orangered;
    color: black;
    box-shadow: orange 1px 0 10px;
}